extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- Add your name.
        h1= myName

        //- Feel free personalize the title below
        p.lead.text-light
          | Full Stack JavaScript Developer.

        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
          p
            | The techdegree course is a project-based program that helps to code by creating different projects. 
            | Before taking this course, I've worked as a frontend developer creating email marketing and landing pages for products that the company was promoting.
            | A change in the companies marketing strategy eliminated me and four other positions. This event gave me the opportunity to develop my JavaScript and backend skills that will further my web development.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //- Replace the text in the li tags below with your own skills.  At this point, you should be able to list at least ten skills.
        ul
          li Express
          li CSS
          li HTML
          li JavaScript
          li Email creation
          li Node.js
        h6 Contact Info

        //- Add your own contact info
        ul
          li 208-208-7847
          li pw97960@gmail.com

        //- Add URLs to the hrefs below to link to your social media accounts.
        a.button.expanded(href='https://www.linkedin.com/in/paul-b-walker-2b444410/') LinkedIn
        a.button.expanded(href='https://paulbwalker5490.github.io/') GitHub
        a.button.expanded(href='https://twitter.com/PaulBWalker2') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  